{% block contacts %}
  <!-- ======= Контакты ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Контакты</h2>
        <p>Соцсети и почта</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Город</h3>
            <p>{{ city }}</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Соцсети</h3>
            <div class="social-links">
              <a href="{{ vk }}" class="vkontakte"><i class="fa fa-vk"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email-адрес</h3>
            <p><a href="{{ email }}">{{ email.split(':')[1] }}</a></p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-paper-plane"></i>
            <h3>Телеграм</h3>
            <p><a href="{{ telegram }}">{{ '@'+telegram.split('/')[3] }}</a></p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- конец секции Контакты -->
{% endblock %}  